on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  issue_comment:

jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      issues: write
      pull-requests: write
      contents: write
    name: Run pr agent on every pull request, respond to user comments
    steps:
      - name: PR Agent action step
        id: pragent
        uses: screencloud/pr-agent@main
        env:
          OPENAI_KEY: ${{ secrets.BOT_PR_REVIEW_OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

